Xft.dpi: 120
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: true
Xft.hintstyle:  hintfull
Xft.lcdfilter:  lcdfilter


! COLORS FOR SXIV
Sxiv.foreground:   #bbc2cf
Sxiv.background:   #282c34
Sxiv.font: Ubuntu:style=bold:size=11

